.navbar {
    display: flex;
    flex-direction: row;
    padding: 20px 30px 30px 80px;
    justify-content: space-between;
    align-items: center;
}

.navbar img{
    height: auto;
    width: 160px;
}
.menu{
    display: flex;
}

.menu-items{
    display: flex;
    list-style: none;
    margin-right: 31px;
    margin-top: 0px;
}
.menu ul li {
    padding: 20px;
}

.p-btn{
    border: 1px solid #F7953B;
    background-color: transparent;
    color: #F7953B;
    border-radius: 9px;
    padding: 16px 32px;
    margin-right: 32px;
}
.s-btn{
    background-color: #F7953B;
    color: #ffff;
    border-radius: 8px;
    padding: 16px 32px;
    border: none;
}
.menu ul li a{
    padding: 10px;
    text-decoration: none;
    color: #000;
}
.menu-items li a:hover{
    color: #F7953B;
}

.library{
    display: flex;
    justify-content: space-between;
}

.recomemded{
    display: flex;
    justify-content: space-between;
}

.recomemded_section{
    padding: 20px 30px;
    background-color: #E3E3E3;
    margin-top: 30px;
    flex-direction: row;
    
}

.library_section{
    padding: 20px 30px;
    background-color: #E3E3E3;
    margin-top: 30px;
    flex-direction: row;
    justify-content: end;
}

.footer-info a{
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.footer-info li{
    list-style: none;
}

.body ul li{
    padding: 3px;

}

.body ul li a{
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.popular-games{
    display: flex;
    flex-direction: row;
    padding: 5px 5px 5px 0px;
    justify-content: space-between;
    align-items: center;
}

.trending-games{
    display: flex;
    flex-direction: row;
    padding: 5px 5px 5px 0px;
    justify-content: space-between;
    align-items: center;
}

.container-full{
    margin-top: 80px;
    padding: 20px 30px;
    background-color: #E3E3E3;
}
.container-full button{
    margin-left: 350px;
}

.image{
    margin-top: 30px !important;
}

.container-fluid{
    justify-content: space-between;
}